@model PidginToAdiumEmoteConverter.Models.ConversionInputReadModel

@{
    ViewBag.Title = "Pidgin Emoticon Set to Adium Emoticon Set Converter";
}

<h2>Pidgin Emoticon Set to Adium Emoticon Set Converter</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script language="javascript" type="text/javascript">
    <!--
    function submitForm() {
        document.forms[0].submit();
    }
    -->
</script>

<div style="padding-top: 10px; padding-bottom: 10px;">
    This converts a Pidgin emoticon pack's <strong>theme</strong> to an Adium emoticon set's <strong>Emoticons.plist</strong>
</div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Pidgin Input:</legend>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.PidginInput, new { @class = "input-xxlarge", @rows = "20" })
            @Html.ValidationMessageFor(model => model.PidginInput)
        </div>

        <div>
            <button type="submit" class="btn btn-primary btn-large">
                Convert&nbsp;&nbsp;<i class="icon-arrow-right icon-white"></i>
            </button>
        </div>
    </fieldset>
}